<div id="feature">
  <div class="container-fluid feature">
    <div class="feature-heading mt-0 pt-5">
      <h2 class="font-weight-bolder">Features</h2>
      <p class="font-weight-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, incidunt
        Est, incidunt Est, incidunt
      </p>
    </div>
    <div class="row justify-content-center mt-5">
      <div class="col-md-7">
        <div class="cards ml-5">
          <div class="row m-2">
            <div class="card m-2" style="width: 20rem">
              <div class="card-body">
                <h5 class="card-title card-color">
                  <span><i class="fa fa-heart" aria-hidden="true"></i> </span>
                </h5>
                <h6 class="card-title mb-2 font-weight-bold">Made By Love</h6>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
            <div class="card m-2" style="width: 20rem">
              <div class="card-body">
                <h5 class="card-title">
                  <span>
                    <i class="fa fa-television" aria-hidden="true"></i>
                  </span>
                </h5>
                <h6 class="card-title mb-2 font-weight-bold">Modern Design</h6>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
          <div class="row m-2">
            <div class="card m-2" style="width: 20rem">
              <div class="card-body">
                <h5 class="card-title">
                  <span>
                    <i class="fa fa-mobile" aria-hidden="true"></i>
                  </span>
                </h5>
                <h6 class="card-title mb-2 font-weight-bold">
                  Fully Responsive
                </h6>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
            <div class="card m-2" style="width: 20rem">
              <div class="card-body">
                <h5 class="card-title">
                  <span>
                    <i class="fa fa-firefox" aria-hidden="true"></i>
                  </span>
                </h5>
                <h6 class="card-title mb-2 font-weight-bold">
                  Cross Browser Support
                </h6>
                <p class="card-text">
                  Some quick example text to build on the card title and make up
                  the bulk of the card's content.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5 feature-img">
        <img src="../../assets/feature.png" height="500px" />
      </div>
    </div>
  </div>
</div>
