<section id="contactUs">
  <div class="container-fluid">
    <div class="contact-heading">
      <h2 class="font-weight-bolder">Contact Us!</h2>
      <p class="font-weight-bold">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, incidunt
        Est, incidunt Est, incidunt
      </p>
    </div>
    <div class="row pt-4">
      <div class="col-md-5 ml-5 border">
        <div class="contact-form mt-3 p-2">
          <form>
            <div class="form-row">
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Full name*"
                />
              </div>
              <div class="col-md-6">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Email*"
                />
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-md-12">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Your Subject"
                />
              </div>
            </div>
            <div class="form-row mt-3">
              <div class="col-md-12">
                <textarea class="form-control" rows="7" id="comment"></textarea>
              </div>
            </div>

            <button
              class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
              type="submit"
            >
              Send Message
            </button>
          </form>
        </div>
      </div>
      <div class="col-md-5 ml-5 pt-2">
        <h2 class="font-weight-bolder">Address Info</h2>
        <div class="address-info">
          <p>
            <span class="font-weight-bold">Address: </span>17 Street Name Here
            Office, 80 Newyork, Us 8
          </p>
          <p><span class="font-weight-bold">Phone: </span>(+1) 123-456-7890</p>
          <p>
            <span class="font-weight-bold">Email: </span>support@example.com
          </p>
          <p>
            <span class="font-weight-bold">Address: </span
            ><a href="#">www.example.com</a>
          </p>
          <div class="social-icons">
            <button class="btn btn-secondary rounded-circle mr-3">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </button>
            <button class="btn btn-secondary rounded-circle mr-3">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </button>
            <button class="btn btn-secondary rounded-circle mr-3">
              <i class="fa fa-google-plus" aria-hidden="true"></i>
            </button>
            <button class="btn btn-secondary rounded-circle mr-3">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </button>
            <button class="btn btn-secondary rounded-circle mr-3">
              <i class="fa fa-youtube-play" aria-hidden="true"></i>
            </button>
            <button class="btn btn-secondary rounded-circle mr-3">
              <i class="fa fa-skype" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
