<section id="about" class="container-fluid about-us">
  <div class="row">
    <div class="col-md-4 align-self-center">
      <div class="about-img">
        <img src="./../../assets/about-us.png" height="400px" />
      </div>
    </div>
    <div class="col-md-6">
      <div class="about-heading">
        <h2 class="font-weight-bolder mb-4">About The App</h2>
        <p class="font-weight-bold">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi
          consectetur quasi minus officiis eligendi ad sed voluptatum expedita
          dolor dignissimos odio distinctio, velit quia impedit porro officia
          iure maxime nesciunt ab perspiciatis provident unde esse rem
          molestias. Corporis, ea repellat culpa aspernatur, amet, molestiae
          impedit sed necessitatibus sint dolore libero.
        </p>

        <p class="font-weight-bold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, repellat
          odio odit ut ea pariatur delectus eligendi officiis ab labore
          molestiae harum perspiciatis, deleniti dignissimos ratione sequi a
          facere. Natus nostrum ipsum eum. Delectus, consectetur explicabo ex
          iure impedit voluptates blanditiis dolor ad modi sit error porro,
          doloremque quod. Magni.
        </p>
      </div>
      <button
        class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
        type="submit"
      >
        DOWNLOAD NOW
      </button>
    </div>
  </div>
</section>
