<div id="download">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-md-12">
        <div class="download-header">
          <h2 class="font-weight-bolder">Download the App</h2>
          <p class="font-weight-bold">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore,
            totam.
          </p>
        </div>
      </div>
    </div>
    <div class="row d-flex justify-content-around align-items-center">
      <button
        class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
        type="submit"
      >
        <div
          class="button-section d-flex align-items-center justify-content-around"
        >
          <i class="fa fa-lg fa-play mr-3" aria-hidden="true"></i>
          <span>Download on the <br />PLAY STORE</span>
        </div>
      </button>
      <button
        class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
        type="submit"
      >
        <div
          class="button-section d-flex align-items-center justify-content-around"
        >
          <i class="fa fa-lg fa-apple mr-3" aria-hidden="true"></i>
          <span>Download on the <br />PLAY STORE</span>
        </div>
      </button>
      <button
        class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
        type="submit"
      >
        <div
          class="button-section d-flex align-items-center justify-content-around"
        >
          <i class="fa fa-lg fa-windows mr-3" aria-hidden="true"></i>
          <span>Download on the <br />WINDOWS STORE</span>
        </div>
      </button>
    </div>
  </div>
</div>
