<div id="banner">
  <div class="container-fluid banner-content">
    <div class="row">
      <div class="col-md-5">
        <div class="banner-heading">
          <h2 class="font-weight-bolder">Embrace Your New Perfect App</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
            nostrum illo voluptatum asperiores, ut ratione quia inventore id!
            Culpa consequuntur aspernatur temporibus est perspiciatis qui est
            perspiciatis qui.
          </p>
        </div>
      </div>
      <div class="col-md-3 align-self-end mb-5">
        <div class="banner-button">
          <button
            class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2"
            type="submit"
          >
            GET APP NOW
          </button>
        </div>
      </div>
      <div class="col-md-3">
        <div class="banner-image">
          <img src="./../../assets/homepage.png" height="500px" />
        </div>
      </div>
    </div>
  </div>
</div>
