<div id="pricing">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-md-12">
        <div class="pricing-header">
          <h2 class="font-weight-bolder">Pricing</h2>
          <p class="font-weight-bold">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore,
            totam.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="pricing-cards">
          <div
            class="row pricing-card d-flex align-items-center justify-content-around"
          >
            <div class="card m-2" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title font-weight-bolder">STARTER</h5>
                <h3 class="card-title mb-2 font-weight-bolder">$0</h3>
                <p class="card-text">
                  1Gb of space safe, Reliable Backup ,Access from anywhere
                  Simple Life sharing
                </p>
                <button
                  class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
                  type="submit"
                >
                  GET STARTED
                </button>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title font-weight-bolder">PREMIUM</h5>
                <h3 class="card-title font-weight-bolder">$40</h3>
                <p class="card-text">
                  2Gb of space safe, Reliable Backup ,Remote Wipe, Simple Life
                  sharing
                </p>

                <button
                  class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
                  type="submit"
                >
                  GET STARTED
                </button>
              </div>
            </div>
            <div class="card m-2" style="width: 18rem">
              <div class="card-body">
                <h5 class="card-title font-weight-bolder">UNLIMITED</h5>
                <h3 class="card-title font-weight-bolder">$80</h3>
                <p class="card-text">
                  Unlimited Space, Reliable Backup ,Access from anywhere
                  Priority Support
                </p>

                <button
                  class="btn btn-outline-primary rounded-pill btn-grad pl-5 pr-5 pt-2 pb-2 mt-3"
                  type="submit"
                >
                  GET STARTED
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
